@import "../../../../_variables";

a {
    text-decoration: none;
}

.active {
    >li {
        background: rgba(105,108,255,.16);
        color: $primary;
    }
}

.list-group {
    list-style-type: none;
}
.menu-item {
    cursor: pointer;
    
    border-radius: 5px;
    &:hover {
        background-color: #f5f5f9;
    }
}