<div class="modal-header">
    <h4 class="modal-title pull-left">{{allPayFile?.name}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col">
            Date Created
        </div>
        <div class="col">
            {{allPayFile?.createdDateUTC | date: 'dd/MM/yyyy'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Total Amount
        </div>
        <div class="col">
            {{allPayFile?.totalAmount | currency: '£'}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Total Records
        </div>
        <div class="col">
            {{allPayFile?.totalRecords}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Date Processed
        </div>
        <div class="col">
            {{allPayFile?.processedDateUTC| date: 'dd/MM/yyyy HH:mm:ss'}}
        </div>
    </div>



</div>