<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="form"
                      autocomplete="off"
                      (ngSubmit)="onSearchCriteriaChange()">
                    <div class="row justify-content-center">
                        <div class="col-8 col-lg-6">
                            <div class="input-group input-group-lg">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Search..."
                                       formControlName="name" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-3">
                            <div class="form-group">
                                <label>From Price (£)</label>
                                <input type="number"
                                       class="form-control"
                                       placeholder="Price From"
                                       formControlName="priceFrom" />
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="form-group">
                                <label>To Price (£)</label>
                                <input type="number"
                                       class="form-control"
                                       placeholder="Price To"
                                       formControlName="priceTo" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="col-8 col-lg-6">
                            <button class="btn btn-secondary w-100"
                                    type="submit"
                                    tooltip="Search"
                                    placement="bottom">
                                <fa-icon [icon]="faSearch"></fa-icon>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="result.total === 0"
     class="row justify-content-center mt-3">
    <div class="col-12 col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="p-5 mb-4 bg-light rounded-3 text-center">
                    <div class="container-fluid py-3">
                        <h1>No Games Found</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-3">
    <div *ngFor="let game of result.items"
         class="col-12 col-lg-4 col-xl-3 mb-3">
        <div class="card">
            <div class="card-body">
                <app-game-item [game]="game"></app-game-item>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center pagination-margin no-gutters"
     *ngIf="result.total > 0">
    <pagination [totalItems]="result.total"
                [(ngModel)]="pageNumber"
                [maxSize]="5"
                [rotate]="true"
                [itemsPerPage]="itemsPerPage"
                (pageChanged)="onPageChange($event)"
                nextText=">"
                previousText="<"></pagination>
</div>